@import "tailwindcss";

.neumorphism {
  box-shadow: 8px 8px 16px #b8b8b8, -8px -8px 16px #ffffff;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.neumorphism:hover {
  box-shadow: 12px 12px 24px #b8b8b8, -12px -12px 24px #ffffff;
}
